# Database Configuration
DATABASE_URL="file:./dev.db"

# Authentication
JWT_SECRET="d12442f35121245c6dea38f7856661ed78bb01f2fb27e2a19de432b0724eb5a9"

# Cron Protection Token
CRON_SECRET="nhanh_media_cron_job_secret_key_2026_v1"

# Crypto settings for SMTP Password Encryption (32-byte key in hex format)
SMTP_ENCRYPTION_KEY="d7c95a289b4b0e515d48721c5a92a543ee7d216f9fdfa7ab725841cb648b292e"

# KEYCHATBOT
GEMINI_API_KEY=""

# SePay VietQR Integration
NEXT_PUBLIC_SEPAY_ACCOUNT_NUMBER="1015165449"
NEXT_PUBLIC_SEPAY_BANK_CODE="Vietcombank"
NEXT_PUBLIC_SEPAY_ACCOUNT_NAME="NGUYEN THE VU"
SEPAY_API_KEY="thay_bang_api_key_webhook_sepay"
